*{
        		margin: 0;
        		padding: 0;
        		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        		-webkit-box-sizing: border-box;
        		-moz-box-sizing: border-box;
        		box-sizing: border-box;
        	}
			
			body {
				background: url('../images/music.jpg') fixed 100%;
				background-size: cover;
				margin-left: auto;
				margin-right: auto;
				margin: 0 auto;
			}
			
        	.login-box{
        		width: 50%;
        		background-color: none;
        		margin: 100px auto;
        	}
			
        	.info{
        		width: 100%;
        		padding-top: 5%;
        		font-size: 30px;
        		color: #fff;
        		text-align: center;
				margin-bottom: 8px;
        	}
			
			
        	.inp{
	
        		width: 100%;
        		padding: 3%;
        		margin-bottom: 5px;
        		border: none;
        		font-size: 20px;
        		border-bottom: 2px solid #000;
        		color: #333;
        	}
			
        	.inp:focus{
        		outline: none;
        		border-bottom: 2px solid #333;
        		color: #333;
        	}
        	.sub-btn{
        		width: 100%;
        		padding: 12px;
        		border: none;
        		font-size: 20px;
        		background:#96CDCD;
        		cursor: pointer;
        		color: #fff;
        		border-bottom: 2px;
        	}
        	.sub-btn:hover{
        		background: #388E8E;
        		-webkit-transition: all .0.3s;
        		transition: all .0.3s;
        	}
        	.sub-btn:focus{
        		outline: none;
        		
        	}
			
        	.rem{
        		margin-bottom: 10px;
        		margin-top: 10px;
        		width: 20px;
        		height: 20px;
        	}
			
        	span{
        		color: #fff;
        		margin-left: 10px;
        		position: absolute;
        		margin-top: 12px;
        		text-shadow: 1px 1px 1px #000;
        	}
			
        	.f-pass{
        		float: right;
        		margin-top: 12px;
        		color: #fff;
        		text-shadow: 1px 1px 1px #000;
        	}
        	.account{
        		margin-top: 10px;
        		text-align: center;
        		color: #fff;
        		font-size: 25px;
        		text-shadow: 0 2px 1px #000;
        	}
 
			
        	@media (max-width: 720px) {
        		.login-box{
        			width: 90%;
        			border: 10px;
        		}
        	}
			
			.main {
				background-color: #BBDAFF;
				width: 60%;
				margin: auto;
				padding-bottom: 2%;
				border-radius: 20px;
			}