* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	text-align: center;
	font-size: 575%;
	color: black;
	text-transform: uppercase;
	margin: 45% 0;
	letter-spacing: 1%;
}

h2 {
	text-align: center;
	font-size: 275%;
	color: black;
	text-transform: uppercase;

}

h3 {
	margin: 0;
}
 
.parallax {
	background: url('../images/band5.png') fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
} 

.banner {
	padding-top: 10%;
	padding-bottom: 10%;
	background-size:cover;
	background-color: #F8F8FF;
    opacity: .8;
}


body {
	background: #539DC2	;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.attendance { 
    background-image: url("img_parallax.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.attendance {
	float: left;
	width: 10%;
	margin: 6.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 30%;
	position: relative;
	text-align: center;
	color: white;
}

.attendance img {
	width: 100%;
	border-radius: 10px;
	display: block;
	height: auto;
	
}



.members {
	float: left;
	width: 10%;
	color: white;
	text-align: center;
	margin: 5%; 
	border-radius: 200px;
}


.members img {
	width: 100%;
	border-radius: 200px;
	display: block;
	height: auto;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
	float: left;
	margin: 2%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.container {
    padding: 2px 16px;
}