* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	text-align: center;
	font-size: 575%;
	color: black;
	text-transform: uppercase;
	margin: 45% 0;
	letter-spacing: 1%;
}

h2 {
	text-align: center;
	font-size: 275%;
	color: black;
	text-transform: uppercase;

}

h3 {
	margin: 0;
}
 
.parallax {
	background: url('../images/band5.png') fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
} 

.banner {
	padding-top: 10%;
	padding-bottom: 10%;
	background-size:cover;
	background-color: #F8F8FF;
    opacity: .8;
}


body {
	background: #539DC2	;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.attendance { 
    background-image: url("img_parallax.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.attendance {
	float: left;
	width: 20%;
	margin: 6.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 30%;
	position: relative;
}

.attendance img {
	width: 100%;
	border-radius: 10px;
	display: block;
	height: auto;
}

.attendance:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: #528B8B	;
  border-radius: 10px;
}

.attendance p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.members {
	float: left;
	width: 23%;
	/*background-color: white;*/
	color: white;
	text-align: center;
	/*box-shadow: 10px 10px 5px black;*/
	margin: 5%; 
	border-radius: 200px;
}


.members img {
	width: 100%;
	border-radius: 200px;
	display: block;
	height: auto;
}